@import url('./colors.css');

.categories--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categories {
  border-radius: 2px;
  background-color: var(--light-color);
  font-family: "Wicked Scary Movie" !important;
  font-weight: 600;
  font-size: 2vmin;
  padding-top: 4px;
  padding-right: 4px;
}

.categories:hover {
  cursor: pointer;
}
