@import url('./colors.css');

.headerImg {
  margin-top: 8rem;
  width: 100%;
  background-position: center, center !important;
  height: 42vmax;
  background-size: cover !important;
  display: flex;
  align-items: flex-end;
}

.headerImg--overlay {
  background: rgba(0, 0, 0, 0.3);
  color: var(--light-color);
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.headerImg--overlay__title {
  /*font-size: 3.5rem;*/
  font-size: 6vmin;
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 0.7rem solid var(--golden-color);
  align-self: flex-start;
}

.headerImg--overlay__desc {
  font-size: 4vmin;
  text-align: justify;
  font-weight: 100;
  padding-top: 1.5rem;
}
