@import url('./colors.css');

.menu--container {
  display: flex;
  justify-content: center;
  z-index: 1000;
  align-items: center;
  position: fixed;
  top: 4rem;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
}


.menu--link {
  text-decoration: none;
  color: var(--light-color);
  font-weight: bold;
  font-size: 1.5vw;
  margin: 0 24px;
}
