@import url('./colors.css');

.loadButton {
  margin: 0 4vw;
  margin-bottom: 3.5rem;
  border: 3px solid var(--primary-color);
  background: var(--primary-color);
  width: 87vw;
  height: 5rem;
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
}

.loadButton--text {
  font-size: 2rem;
  font-weight: 500;
}

.loadButton:hover {
  opacity: 0.9;
}
