@import url("./Details.css");

.moviePlayer {
  margin-top: 8rem;
  width: 100%;
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.myList--link--moviePlayer{
  position: fixed;
  z-index: 2000;
  top: 4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: var(--light-color);
  font-weight: bold;
  font-size: 2.5vmin;
}

@media(max-width: 1024px) {
  .moviePlayer {
    flex-direction: column;
  }
  .videoPlayer {
    width:100%;
  }
  .mvPlayerList{
    width:100%;
  }
}
