@import url("./Details.css");

.moviePlayer {
  margin-top: 8rem;
  width: 100%;
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.myList--link{
  font-size: 1.5vw;
}

@media(max-width: 1024px) {
  .moviePlayer {
    flex-direction: column;
  }
  .videoPlayer {
    width:100%;
  }
  .mvPlayerList{
    width:100%;
  }
}
